:root {
      /* colors */
      --color-blue-10: #092333; 
      --color-blue-20: #014771; 
      --color-blue-30: #0277BD; 
      --color-blue-40: #3592CA; 
      --color-blue-50: #C3EEEE;

      --color-purple-10: #120624; 
      --color-purple-20: #400A92; 
      --color-purple-30: #6B11F4; 
      --color-purple-40: #8941F6; 
      --color-purple-50: #E2CFFF; 
      
      --color-red-10: #C03025; 
      --color-red-20: #90241C; 
      --color-red-30: #F03C2E; 
      --color-red-40: #F36358; 
      --color-red-50: #C3EEEE;
      
      /* fonts */
      --font-primary: "IBM Plex Mono", monospace;
      --font-secondary: "Inter", sans-serif;
      --font-third:"Kalam", cursive;
}
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border: none;
      outline: none;
      text-decoration: none;
}
html {
      scroll-behavior: smooth;
}
body {
      overflow-x: hidden;
      font-family : var(--font-secondary);
}
h1, h2, h3, h4, h5 {
      font-family: var(--font-primary);
      user-select: none;
      line-height: 130%;
}
.headline,
.title {
      font-size: 2.685rem;
}
.text-body, 
.subtitle, 
.label {
      font-size: 1.125rem;
      line-height: 180%;
}
.link {
      font-family: var(--font-primary);
      font-size: 1.125rem ;
}
.subheadline {
      font-family: var(--font-third);
      font-size: 2rem;
}
.brand {
      font-size: 2rem;
}
.bold {
      font-weight: 800;
}
.semi-bold {
      font-weight: 700;
}
.medium {
      font-weight: 600;
}
.regular {
      font-weight: 500;
}
.normal {
      font-weight: 400;
}
.light {
      font-weight: 300;
}
.text-start {
      text-align: left;
}
.text-center {
      text-align: center;
}
.text-end {
      text-align: right;
}
.wrapper {
      display: flex;
      margin: 0 auto;
}

#navbar {
      width: 100vw;
      height: 10vh;
      position: fixed;
      top: 0;
      left: 0;
}
#navbar .wrapper {
      max-width: 1366px;
      width: inherit;
      height: inherit;
      align-items: center;
      justify-content: space-between;
}
#navbar .menu {
      max-width: 30.625rem;
      width: inherit;
      display: flex;
      justify-content: space-between;
}
#navbar .menu-toggle {
      display: none;
}
#navbar .brand,
#navbar .menu-link {
      color: #fff;
      transition-duration: .3s; 
}
#navbar .brand:hover,
#navbar .menu-link:hover,
#navbar .menu-link:hover .icon {
      color: var(--color-blue-30);
}

/* hero */
#hero {
      padding: 13rem 0 2.5rem;
      width: 100vw;
      min-height: 100vh;
      background-image: url(../images/hero/2.png);
      background-size: cover;
      background-position: center;
      display: flex;
}
#hero .wrapper {
      max-width: 1024px;
      width: inherit;
}
#hero .content {
      width: inherit;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}
#hero .display {
      display: flex;
      flex-direction: column;
      align-items: center;
}
#hero .display img {
      width: 15rem;
      height: 15rem;
      margin-bottom: 5rem;
}
#hero .display .headline {
      margin-bottom: 1rem;
}
#hero .display .subheadline {
      color: var(--color-red-30);
}
#hero .navigation {
      display: flex;
      justify-content: center;
}
#hero .navigation-link {
      display: block;
      padding: 1rem;
}
#hero .display .subheadline, 
#hero .display .headline {
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
#hero .display .headline,
#hero .navigation .navigation-link {
      color: #fff;
}
#hero .navigation .navigation-link .icon {
      transition-duration: .3s;
}
#hero .navigation .navigation-link:hover .icon {
      color: var(--color-blue-30);
}

/* section */
section {
      width: 100vw;
      display: flex;
      flex-direction: column;
}
section .wrapper {
      max-width: 1024px;
      width: inherit;
}
#about {
      min-height: 100vh;
      padding: 12rem 0 2.5rem;
      gap: 5rem;
}
#about .display .title {
      margin-bottom: 5rem;
      color: var(--color-blue-30);
}
#about .display .text-body {
      opacity: .75;
}
#about .wrapper {
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
}
#about .card-skill {
      flex: 1 0 auto;
      max-width: 490px;
      padding-block: 2.5rem;
      border-radius: 0.5rem;
      background: var(--color-blue-50);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
#about .label {
      margin-bottom: 2rem;
}
#about .card-skill .card-image {
      width: 100%;
      padding-inline: 5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
}
#about .card-image img {
      width: 2.5rem;
}

/* media queries */
/* layar desktop  1366px */
@media screen and (max-width: 1366px) {
      html {
            font-size: 90%;
      }
      #navbar .wrapper,
      #about .wrapper {
            padding-inline: 7%; 
      }
      
}

/* layar Tablet  768px */
@media screen and (max-width: 768px) {
      html {
            font-size: 87%;
      }
      #navbar .menu {
            padding: 1rem 0;
            background: var(--color-purple-10);
            position: absolute;
            top: 100%;
            right: -100%;
            flex-direction: column;
            transition-duration: .3s;
      }
      #navbar .menu.active {
            right: 0;
      }
      #navbar .menu-link {
            display: block;
            padding: 1rem 0;
      }
      #navbar .menu-toggle {
            display: block;
      }
}


/* layar mobile phone 450px */
@media screen and (max-width: 450px) {
      html {
            font-size: 85%;
      }
}