:root {
      /* colors */
      --color-blue-10: #092333; 
      --color-blue-20: #014771; 
      --color-blue-30: #0277BD; 
      --color-blue-40: #3592CA; 
      --color-blue-50: #C3EEEE;

      --color-purple-10: #120624; 
      --color-purple-20: #400A92; 
      --color-purple-30: #6B11F4; 
      --color-purple-40: #8941F6; 
      --color-purple-50: #E2CFFF; 
      
      --color-red-10: #C03025; 
      --color-red-20: #90241C; 
      --color-red-30: #F03C2E; 
      --color-red-40: #F36358; 
      --color-red-50: #C3EEEE;
      
      /* fonts */
      --font-primary: "IBM Plex Mono", monospace;
      --font-secondary: "Inter", sans-serif;
      --font-third:"Kalam", cursive;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border: none;
      outline: none;
      text-decoration: none;
}
body {
      font-family : var(--font-secondary);
}
h1, h2, h3, h4, h5 {
      font-family: var(--font-primary);
      user-select: none;
}
nav {
      padding: 1.5rem 10.19% 1.5rem;
}
section {
      min-height: 100vh;
      padding: 7.5rem 20.19% 2.5rem;
}
.link {
      font-family: var(--font-primary);
      font-size: 1.125rem ;
}
.subheadline {
      font-family: var(--font-third);
      font-size: 2rem;
}
.brand {
      font-size: 2rem;
}
.headline, .title {
      font-size: 2.685rem;
      line-heigt: 130%;
}
.text-body, .subtitle, .label {
      font-size: 1.125rem;
      line-height: 180%;
}
.bold {
      font-weight: 800;
}
.semi-bold {
      font-weight: 700;
}
.medium {
      font-weight: 600;
}
.regular {
      font-weight: 500;
}
.normal {
      font-weight: 400;
}
.light {
      font-weight: 300;
}
.text-start {
      text-align: left;
}
.text-center {
      text-align: center;
}
.text-end {
      text-align: right;
}
.container {
      display: flex;
}

#navbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
}
#navbar .container {
      align-items: center;
      justify-content: space-between;
}
#navbar .hamburger,
#navbar .menu,
#navbar .brand {
      flex: 1;
}
#navbar .menu {
      width: 100%;
      max-width: 29.25rem;
      display: flex;
      justify-content: space-between;
}
#navbar .hamburger {
      display: none;
}
#navbar .menu .link {
      display: block;
      padding: 0.5rem 1rem;
}
#navbar .brand,
#navbar .hamburger .icon,
#navbar .menu .link {
      color: #fff;
      transition-duration: .3s;
}
#navbar .brand:hover,
#navbar .hamburger:hover .icon,
#navbar .menu .link:hover {
      color: var(--color-blue-30);
}

section#hero {
      background-image: url(../images/hero/2.png);
      background-size: cover;
      background-position: center;
      padding: 10rem 20.19% 1.5rem;
      display: flex;
      justify-content: center;
}
#hero .container {
      width: 100%;
      max-width: 1024px;
      flex-wrap: wrap;
}
#hero .display, #hero .footer {
      width: 100%;
}
#hero .display img {
      width: 15.625rem;
      heigth: 15.625rem;
      margin-bottom: 4rem;
}
#hero .headline {
      margin-bottom: 1rem;
}
#hero .subheadline {
      color:var(--color-red-30);
}
#hero .footer {
      margin-top:auto;
      display: flex;
      justify-content: center;
}
#hero .footer .link {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
#hero .footer .icon {
      margin-top: 0.5rem;
}
#hero .footer .link,
#hero .footer .icon,
#hero .display .headline {
      color: #fff;
}
#hero .footer .link,
#hero .footer .link .icon {
      transition-duration: .3s;
}
#hero .footer .link:hover,
#hero .footer .link:hover .icon {
      color:var(--color-blue-30);
}


/* laptop */
@media screen and (max-width: 1360px) {
      html {
            font-size: 90%;
      }
}

/* full HD */
@media screen and (max-width: 1024px) {
      html {
            font-size: 87%;
      }
}

/*  */
@media screen and (max-width: 576px) {
      html {
            font-size: 75%;
      }
      #navbar .menu {
            width: 50%;
            padding: 2rem 0;
            background: var(--color-purple-10);
            border-radius: 0.5rem 0 0 0.5rem;
            position: absolute;
            top: 100%;
            right: -100%;
            flex-direction: column;
            transition-duration: .3s;
      }
      #navbar .menu.active {
            right: 0;
      }
      #navbar .menu .link {
            padding: 1rem 0;
      }
      #navbar .hamburger {
            display: block;
      }
      
}
@media screen and (max-width: 450px) {
      html {
            font-size: 65%;
      }
      section#hero {
            padding: 10rem 10.19% 1.5rem;
      }
}
